Repository yossiovadia/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Basic hooks for Go, Rust, Python And JavaScript files only
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
        files: \.(go|rs|py|js)$
      - id: end-of-file-fixer
        files: \.(go|rs|py|js)$
      - id: check-added-large-files
        args: ["--maxkb=500"]
        files: \.(go|rs|py|js)$

  # Go specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: make shellcheck
        language: system
        files: \.sh$

  - repo: local
    hooks:
      - id: golang-lint
        name: go lint
        entry: make go-lint
        language: system
        files: \.go$
        pass_filenames: false

  # Markdown specific hooks
  - repo: local
    hooks:
      - id: md-fmt
        name: md fmt
        entry: bash -c "make markdown-lint"
        language: system
        files: \.md$
        exclude: ^(\node_modules/|CLAUDE\.md)

  # Yaml specific hooks
  - repo: local
    hooks:
      - id: yaml-and-yml-fmt
        name: yaml/yml fmt
        entry: bash -c "make markdown-lint"
        language: system
        files: \.(yaml|yml)$
        exclude: ^(\node_modules/)

  # JavaScript and TypeScript specific hooks
  - repo: local
    hooks:
      - id: js-ts-lint
        name: js/ts lint
        entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
        language: system
        files: \.(js|ts|tsx)$
        exclude: ^(\node_modules/)
        pass_filenames: false

  # Rust specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd candle-binding && cargo check'
        language: system
        files: \.rs$
        pass_filenames: false

  # Python specific hooks
  # Using only Black for Python formatting (simpler, no conflicts)
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        files: \.py$
        exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site-packages/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

feat: add margin evaluation results for programming domain
  models/programming-cache-lora/margin_evaluation.json
Due: none

refactor: reorganize cache LoRA models into models/cache/ subdirectory
  models/cache/law-cache-lora/README.md
  models/cache/law-cache-lora/adapter_config.json
  models/cache/law-cache-lora/adapter_model.safetensors
  models/cache/law-cache-lora/evaluation_results.json
  models/cache/law-cache-lora/margin_evaluation.json
  models/cache/law-cache-lora/special_tokens_map.json
  models/cache/law-cache-lora/tokenizer.json
  models/cache/law-cache-lora/tokenizer_config.json
  models/cache/law-cache-lora/training_history.json
  models/cache/law-cache-lora/training_info.json
  models/cache/law-cache-lora/vocab.txt
  models/cache/programming-cache-lora/README.md
  models/cache/programming-cache-lora/adapter_config.json
  models/cache/programming-cache-lora/adapter_model.safetensors
  models/cache/programming-cache-lora/margin_evaluation.json
  models/cache/programming-cache-lora/special_tokens_map.json
  models/cache/programming-cache-lora/tokenizer.json
  models/cache/programming-cache-lora/tokenizer_config.json
  models/cache/programming-cache-lora/training_history.json
  models/cache/programming-cache-lora/training_info.json
  models/cache/programming-cache-lora/vocab.txt
Due: md-fmt

feat: add verified medical cache LoRA with +35.6% margin improvement
  models/cache/medical-cache-lora/README.md
  models/cache/medical-cache-lora/adapter_config.json
  models/cache/medical-cache-lora/adapter_model.safetensors
  models/cache/medical-cache-lora/margin_evaluation.json
  models/cache/medical-cache-lora/special_tokens_map.json
  models/cache/medical-cache-lora/tokenizer.json
  models/cache/medical-cache-lora/tokenizer_config.json
  models/cache/medical-cache-lora/training_history.json
  models/cache/medical-cache-lora/training_info.json
  models/cache/medical-cache-lora/vocab.txt
Due: md-fmt

docs: consolidate cache embedding pipeline documentation
  data/cache_embeddings/medical/unlabeled_queries.jsonl
  src/training/cache_embeddings/ARCHITECTURE_DECISIONS.md
  src/training/cache_embeddings/CRITICAL_LESSONS_LEARNED.md
  src/training/cache_embeddings/DOMAIN_SELECTION.md
  src/training/cache_embeddings/LAW_TRAINING_WORKFLOW.md
  src/training/cache_embeddings/QUICKSTART_MEDICAL.md
  src/training/cache_embeddings/QUICKSTART_PROGRAMMING.md
  src/training/cache_embeddings/QUICK_START_LAW.md
  src/training/cache_embeddings/SIMPLE_TRAINING.md
  src/training/cache_embeddings/docs/README.md
  src/training/cache_embeddings/docs/index.html
  src/training/cache_embeddings/docs/research/MULTI_DOMAIN_PSYCHOLOGY_RESULTS.md
  src/training/cache_embeddings/docs/research/PSYCHOLOGY_EPOCH_COMPARISON.md
  src/training/cache_embeddings/docs/research/PSYCHOLOGY_NUCLEAR_FIX.md
  src/training/cache_embeddings/domains/README.md
  src/training/cache_embeddings/domains/TEMPLATE.yaml
  src/training/cache_embeddings/domains/law.yaml
  src/training/cache_embeddings/domains/medical.yaml
  src/training/cache_embeddings/domains/prompts.yaml
  src/training/cache_embeddings/evaluate_multi_domain.py
  src/training/cache_embeddings/generate_training_data.py
  src/training/cache_embeddings/lora_trainer.py
  src/training/cache_embeddings/losses.py
  src/training/cache_embeddings/prepare_law_data.py
  src/training/cache_embeddings/prepare_medical_data.py
  src/training/cache_embeddings/prepare_programming_data.py
  src/training/cache_embeddings/test_medical_model.py
Due: md-fmt, yaml-and-yml-fmt

feat: add multi-domain cache embedding training pipeline
  .gitignore
  models/cache/law-cache-lora/README.md
  models/cache/medical-cache-lora/README.md
  models/cache/programming-cache-lora/README.md
  src/training/cache_embeddings/__init__.py
  src/training/cache_embeddings/aws/README.md
  src/training/cache_embeddings/aws/cleanup-vllm-instance.yaml
  src/training/cache_embeddings/aws/deploy-vllm.sh
  src/training/cache_embeddings/aws/launch-vllm-instance.yaml
  src/training/cache_embeddings/common_utils.py
  src/training/cache_embeddings/docs/QUICK_START_AWS.md
  src/training/cache_embeddings/docs/README.md
  src/training/cache_embeddings/docs/README_DOCS.md
  src/training/cache_embeddings/docs/blog.md
  src/training/cache_embeddings/docs/index.html
  src/training/cache_embeddings/docs/research/MULTI_DOMAIN_PSYCHOLOGY_RESULTS.md
  src/training/cache_embeddings/docs/research/PSYCHOLOGY_EPOCH_COMPARISON.md
  src/training/cache_embeddings/docs/research/PSYCHOLOGY_NUCLEAR_FIX.md
  src/training/cache_embeddings/domains/README.md
  src/training/cache_embeddings/domains/prompts.yaml
  src/training/cache_embeddings/evaluate_multi_domain.py
  src/training/cache_embeddings/generate_training_data.py
  src/training/cache_embeddings/lora_trainer.py
  src/training/cache_embeddings/test_lora_model.py
  src/training/cache_embeddings/train-domain.sh
Due: shellcheck, md-fmt, yaml-and-yml-fmt

feat: add L12 multi-domain cache LoRA model
  models/multi-domain-cache-lora-L12/README.md
  models/multi-domain-cache-lora-L12/adapter_config.json
  models/multi-domain-cache-lora-L12/adapter_model.safetensors
  models/multi-domain-cache-lora-L12/evaluation_results.json
  models/multi-domain-cache-lora-L12/special_tokens_map.json
  models/multi-domain-cache-lora-L12/tokenizer.json
  models/multi-domain-cache-lora-L12/tokenizer_config.json
  models/multi-domain-cache-lora-L12/training_history.json
  models/multi-domain-cache-lora-L12/training_info.json
  models/multi-domain-cache-lora-L12/vocab.txt
Due: md-fmt

fix: resolve markdown linting errors in training docs
  src/training/cache_embeddings/aws/README.md
  src/training/cache_embeddings/docs/QUICK_START_AWS.md
  src/training/cache_embeddings/docs/README.md
  src/training/cache_embeddings/docs/README_DOCS.md
  src/training/cache_embeddings/docs/blog.md
  src/training/cache_embeddings/docs/research/MULTI_DOMAIN_PSYCHOLOGY_RESULTS.md
  src/training/cache_embeddings/docs/research/PSYCHOLOGY_EPOCH_COMPARISON.md
  src/training/cache_embeddings/docs/research/PSYCHOLOGY_NUCLEAR_FIX.md
  src/training/cache_embeddings/domains/README.md
Due: md-fmt

fix: add legal terms to codespell ignore list
  tools/linter/codespell/.codespell.ignorewords
Due: none

fix: add medical term to codespell ignore list
  tools/linter/codespell/.codespell.ignorewords
Due: none

fix: exclude test data and model files from codespell
  tools/linter/codespell/.codespell.skip
Due: none

fix: disable non-critical shellcheck warnings for training scripts
  tools/linter/shellcheck/.shellcheckrc
Due: none

fix: use comma-separated format for shellcheck disable list
  tools/linter/shellcheck/.shellcheckrc
Due: none

fix: add training script shellcheck exclusions to Makefile
  tools/make/linter.mk
Due: none

fix: add SC2119 to shellcheck exclusions
  tools/make/linter.mk
Due: none

style: apply black formatting to training scripts
  src/training/cache_embeddings/common_utils.py
  src/training/cache_embeddings/evaluate_multi_domain.py
  src/training/cache_embeddings/generate_training_data.py
  src/training/cache_embeddings/lora_trainer.py
  src/training/cache_embeddings/test_lora_model.py
Due: none

fix: apply markdown lint and black formatting
  src/training/cache_embeddings/README.md
  src/training/cache_embeddings/evaluate_multi_domain.py
Due: md-fmt

fix: clarify LoRA config requires implementation
  src/training/cache_embeddings/README.md
Due: md-fmt

docs: add multi-domain LoRA results visualization
  src/training/cache_embeddings/docs/index.html
Due: none

refactor: remove AWS deployment scripts from PR
  src/training/cache_embeddings/aws/README.md
  src/training/cache_embeddings/aws/cleanup-vllm-instance.yaml
  src/training/cache_embeddings/aws/deploy-vllm.sh
  src/training/cache_embeddings/aws/launch-vllm-instance.yaml
Due: shellcheck, md-fmt, yaml-and-yml-fmt

fix: correct model reference to Qwen2.5-7B-Instruct in docs
  src/training/cache_embeddings/docs/index.html
Due: none

fix: update all references from Qwen2.5-1.5B to 7B-Instruct
  src/training/cache_embeddings/train-domain.sh
Due: shellcheck

feat(training): implement iterative hard-negative mining POC for domain-aware embeddings
  src/training/iterative_mining/.gitignore
  src/training/iterative_mining/AWS_RUNBOOK.md
  src/training/iterative_mining/README.md
  src/training/iterative_mining/SUMMARY.md
  src/training/iterative_mining/evaluate.py
  src/training/iterative_mining/iterative_miner.py
  src/training/iterative_mining/prepare_corpus.py
  src/training/iterative_mining/prepare_queries.py
  src/training/iterative_mining/requirements.txt
  src/training/iterative_mining/run_full_pipeline.sh
  src/training/iterative_mining/test_small_sample.py
Due: shellcheck, md-fmt

refactor(training): simplify iterative mining pipeline
  src/training/iterative_mining/AWS_RUNBOOK.md
  src/training/iterative_mining/README.md
  src/training/iterative_mining/SUMMARY.md
  src/training/iterative_mining/analyze_dataset.py
  src/training/iterative_mining/analyze_hard_examples.py
  src/training/iterative_mining/evaluate.py
  src/training/iterative_mining/iterative_miner.py
  src/training/iterative_mining/prepare_corpus.py
  src/training/iterative_mining/prepare_data.py
  src/training/iterative_mining/prepare_queries.py
  src/training/iterative_mining/requirements.txt
  src/training/iterative_mining/robust_iterative_miner.py
  src/training/iterative_mining/run_full_pipeline.sh
  src/training/iterative_mining/test_small_sample.py
  src/training/iterative_mining/train.py
Due: shellcheck, md-fmt

fix(training): add anti-forgetting fixes for iterative hard-negative mining
  src/training/iterative_mining/README.md
  src/training/iterative_mining/analyze_dataset.py
  src/training/iterative_mining/analyze_hard_examples.py
  src/training/iterative_mining/iterative_miner.py
  src/training/iterative_mining/robust_iterative_miner.py
Due: md-fmt

fix(training): update iterative mining defaults for optimal results
  src/training/iterative_mining/README.md
  src/training/iterative_mining/train.py
Due: md-fmt

refactor(training): rename iterative_mining to domain_adapted_embeddings
  src/training/domain_adapted_embeddings/.gitignore
  src/training/domain_adapted_embeddings/README.md
  src/training/domain_adapted_embeddings/prepare_data.py
  src/training/domain_adapted_embeddings/requirements.txt
  src/training/domain_adapted_embeddings/train.py
Due: md-fmt

docs(training): split README into overview and usage guide
  src/training/domain_adapted_embeddings/README.md
  src/training/domain_adapted_embeddings/USAGE.md
Due: md-fmt

style: apply pre-commit formatting fixes
  src/training/domain_adapted_embeddings/USAGE.md
  src/training/domain_adapted_embeddings/prepare_data.py
  src/training/domain_adapted_embeddings/train.py
Due: md-fmt

docs(training): add multi-domain integration limitation note
  src/training/domain_adapted_embeddings/README.md
Due: md-fmt

docs(training): add visualization image to README
  src/training/domain_adapted_embeddings/README.md
  src/training/domain_adapted_embeddings/domain-embed.jpg
Due: md-fmt
