Repository yossiovadia/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Basic hooks for Go, Rust, Python And JavaScript files only
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
        files: \.(go|rs|py|js)$
      - id: end-of-file-fixer
        files: \.(go|rs|py|js)$
      - id: check-added-large-files
        args: ["--maxkb=500"]
        files: \.(go|rs|py|js)$

  # Go specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: make shellcheck
        language: system
        files: \.sh$

  - repo: local
    hooks:
      - id: golang-lint
        name: go lint
        entry: make go-lint
        language: system
        files: \.go$
        pass_filenames: false

  # Markdown specific hooks
  - repo: local
    hooks:
      - id: md-fmt
        name: md fmt
        entry: bash -c "make markdown-lint"
        language: system
        files: \.md$
        exclude: ^(\node_modules/|CLAUDE\.md)

  # Yaml specific hooks
  - repo: local
    hooks:
      - id: yaml-and-yml-fmt
        name: yaml/yml fmt
        entry: bash -c "make markdown-lint"
        language: system
        files: \.(yaml|yml)$
        exclude: ^(\node_modules/)

  # JavaScript and TypeScript specific hooks
  - repo: local
    hooks:
      - id: js-ts-lint
        name: js/ts lint
        entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
        language: system
        files: \.(js|ts|tsx)$
        exclude: ^(\node_modules/)
        pass_filenames: false

  # Rust specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd candle-binding && cargo check'
        language: system
        files: \.rs$
        pass_filenames: false

  # Python specific hooks
  # Using only Black for Python formatting (simpler, no conflicts)
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        files: \.py$
        exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site-packages/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

security: Harden demo against OWASP/K8s security review (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/demo-ui.yaml
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/envoy-bbr-openshift.yaml
  deploy/openshift/egress-demo/envoy-egress-openshift.yaml
  deploy/openshift/egress-demo/smoke-test.sh
Due: shellcheck, yaml-and-yml-fmt

feat: Add admin demo page with user/token management (#26)
  deploy/openshift/egress-demo/Dockerfile.demo-ui
  deploy/openshift/egress-demo/admin.html
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/demo-ui.yaml
  deploy/openshift/egress-demo/phase-c/demo-users.yaml
  deploy/openshift/egress-demo/phase-c/httproute-maas.yaml
Due: yaml-and-yml-fmt

fix: Add missing backend-label/backend-detail IDs to admin.html arch diagram (#26)
  deploy/openshift/egress-demo/admin.html
Due: none

fix: Admin page — persist tokens per user, reset diagram on switch, track token usage (#26)
  deploy/openshift/egress-demo/admin.html
Due: none

feat: Real Limitador rate limiting + 429 handling in admin page (#26)
  deploy/openshift/egress-demo/admin.html
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/phase-c/ratelimit-policy.yaml
Due: yaml-and-yml-fmt

feat: Token-based rate limiting via TokenRateLimitPolicy (#26)
  deploy/openshift/egress-demo/admin.html
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/phase-c/ratelimit-policy.yaml
Due: yaml-and-yml-fmt

fix: Extract renderSteps function for 429 rate limit display (#26)
  deploy/openshift/egress-demo/admin.html
Due: none

fix: Include admin.html in demo-ui build context (#26)
  deploy/openshift/egress-demo/deploy.sh
Due: shellcheck

fix: Drop TokenRateLimitPolicy — it breaks AuthPolicy enforcement (#26)
  deploy/openshift/egress-demo/admin.html
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/phase-c/ratelimit-policy.yaml
Due: yaml-and-yml-fmt

fix: Add MaaS HTTPRoute and RateLimitPolicy to deploy.sh (#26)
  deploy/openshift/egress-demo/deploy.sh
Due: shellcheck

fix: Use warning icon (orange ⚠) instead of error (red ✗) for MaaS API fallback (#26)
  deploy/openshift/egress-demo/admin.html
Due: none

feat: Add 'Admin Demo' link in main demo page header (#26)
  deploy/openshift/egress-demo/demo.html
Due: none

docs: Add per-tier rate limit limitation to ratelimit-policy.yaml (#26)
  deploy/openshift/egress-demo/phase-c/ratelimit-policy.yaml
Due: yaml-and-yml-fmt

refactor: Rename phase-c/ to infra/ for clearer directory structure (#26)
  deploy/openshift/egress-demo/README.md
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/infra/auth-policy.yaml
  deploy/openshift/egress-demo/infra/demo-users.yaml
  deploy/openshift/egress-demo/infra/external-providers.yaml
  deploy/openshift/egress-demo/infra/gateway.yaml
  deploy/openshift/egress-demo/infra/gatewayclass.yaml
  deploy/openshift/egress-demo/infra/httproute-maas.yaml
  deploy/openshift/egress-demo/infra/httproute.yaml
  deploy/openshift/egress-demo/infra/kuadrant-cr.yaml
  deploy/openshift/egress-demo/infra/kuadrant-install.yaml
  deploy/openshift/egress-demo/infra/maas-api.yaml
  deploy/openshift/egress-demo/infra/ratelimit-policy.yaml
  deploy/openshift/egress-demo/infra/serviceentry-reference.yaml
Due: shellcheck, md-fmt, yaml-and-yml-fmt

feat: Add Model Response panel to admin page + real Qwen3 internal model (#26)
  deploy/openshift/egress-demo/admin.html
Due: none

feat: Progressive architecture diagram animation during requests (#26)
  deploy/openshift/egress-demo/admin.html
Due: none

fix: Clean up small model response artifacts in admin page (#26)
  deploy/openshift/egress-demo/admin.html
  deploy/openshift/egress-demo/demo-server.py
Due: none

refactor: Rename mock-llama3 to qwen3-0.6b (real model name) (#26)
  deploy/openshift/egress-demo/admin.html
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/demo.html
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/envoy-egress-openshift.yaml
  deploy/openshift/egress-demo/llm-katan-echo.yaml
  deploy/openshift/egress-demo/llm-katan-real.yaml
  deploy/openshift/egress-demo/smoke-test.sh
Due: shellcheck, yaml-and-yml-fmt

feat: GPU model support - vLLM Qwen2.5-7B on NVIDIA A10G (#26)
  deploy/openshift/egress-demo/admin.html
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/envoy-egress-openshift.yaml
  deploy/openshift/egress-demo/infra/gpu-clusterpolicy.yaml
  deploy/openshift/egress-demo/infra/gpu-setup.yaml
  deploy/openshift/egress-demo/infra/vllm-gpu.yaml
Due: shellcheck, yaml-and-yml-fmt

fix: Add SCC grants for vLLM GPU pod in deploy.sh (#26)
  deploy/openshift/egress-demo/deploy.sh
Due: shellcheck

feat: Add GPU model smoke tests + fix CPU model timeouts (#26)
  deploy/openshift/egress-demo/smoke-test.sh
Due: shellcheck

fix: Full cleanup in deploy.sh --cleanup (Kuadrant, CRDs, GatewayClass) (#26)
  deploy/openshift/egress-demo/deploy.sh
Due: shellcheck

fix: Create demo-config ConfigMap before demo-ui pod starts (#26)
  deploy/openshift/egress-demo/deploy.sh
Due: shellcheck

fix: Remove fake progressive animation from admin page (#26)
  deploy/openshift/egress-demo/admin.html
Due: none

fix: Proper error handling for user creation in admin page (#26)
  deploy/openshift/egress-demo/admin.html
Due: none

test: Add NB demo TDD smoke tests — 9 pass, 5 fail (#26)
  deploy/openshift/egress-demo/smoke-test-nb.sh
Due: shellcheck

feat: Enable classification + PII detection for NB demo (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/smoke-test-nb.sh
  deploy/openshift/egress-demo/vsr-deployment.yaml
Due: shellcheck, yaml-and-yml-fmt

feat: Add complexity-based routing — simple queries stay internal (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/smoke-test-nb.sh
Due: shellcheck, yaml-and-yml-fmt

feat: NB Financial Services demo page (/nb-demo) (#26)
  deploy/openshift/egress-demo/Dockerfile.demo-ui
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/demo.html
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/nb-demo.html
Due: shellcheck

refactor: Drop qwen3-0.6b CPU model, use qwen2.5-7b GPU as only internal model (#26)
  deploy/openshift/egress-demo/admin.html
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/demo.html
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/envoy-egress-openshift.yaml
  deploy/openshift/egress-demo/llm-katan-echo.yaml
  deploy/openshift/egress-demo/nb-demo.html
  deploy/openshift/egress-demo/smoke-test-nb.sh
  deploy/openshift/egress-demo/smoke-test.sh
Due: shellcheck, yaml-and-yml-fmt

feat: Department-specific preset queries for NB demo (#26)
  deploy/openshift/egress-demo/nb-demo.html
Due: none

feat: RAG vector store integration for NB demo (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/nb-demo.html
  deploy/openshift/egress-demo/rag-docs/nb-client-portfolios.md
  deploy/openshift/egress-demo/rag-docs/nb-investment-guidelines.md
  deploy/openshift/egress-demo/rag-docs/nb-trading-procedures.md
  deploy/openshift/egress-demo/vsr-deployment.yaml
Due: md-fmt, yaml-and-yml-fmt

feat: RAG context display in NB demo + deploy.sh automation (#26)
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/nb-demo.html
Due: shellcheck

test: Add RAG vector store search test to NB suite (#26)
  deploy/openshift/egress-demo/smoke-test-nb.sh
Due: shellcheck

demo: OpenClaw + VSR remote memory integration
  demo/openclaw-remote-memory/OPENCLAW-REMOTE-MEMORY.md
  demo/openclaw-remote-memory/benchmark-hybrid-memory.sh
  demo/openclaw-remote-memory/e2e-benchmark.sh
  demo/openclaw-remote-memory/openclaw-memory-only.yaml
  demo/openclaw-remote-memory/openclaw-vsr-hybrid-memory.cast
  demo/openclaw-remote-memory/vsr-openclaw.sh
Due: shellcheck, md-fmt, yaml-and-yml-fmt

fix: truncate command field in cast file for asciinema upload
  demo/openclaw-remote-memory/openclaw-vsr-hybrid-memory.cast
Due: none

fix: Only run RAG for Finance dept + filter by similarity threshold (#26)
  deploy/openshift/egress-demo/nb-demo.html
Due: none

fix: Replace KServe labels with vLLM across all demo pages (#26)
  deploy/openshift/egress-demo/admin.html
  deploy/openshift/egress-demo/demo.html
  deploy/openshift/egress-demo/nb-demo.html
Due: none

fix: Domain routing — remove broken complexity, fix CS domain name (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/nb-demo.html
Due: yaml-and-yml-fmt

feat: Show RAG similarity scores in retrieved context display (#26)
  deploy/openshift/egress-demo/nb-demo.html
Due: none
