Repository yossiovadia/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

shellcheck:
  name: shellcheck
  entry: make shellcheck
  language: system

golang-lint:
  name: go lint
  entry: make go-lint
  language: system
  pass_filenames: false

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-ts-lint:
  name: js/ts lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

feat: Deploy on RHOAI with NVIDIA GPUs, upgrade to mmbert 768-dim, remove BBR (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/demo.html
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/infra/gatewayclass.yaml
  deploy/openshift/egress-demo/infra/vllm-gpu.yaml
  deploy/openshift/egress-demo/smoke-test-nb.sh
  deploy/openshift/egress-demo/smoke-test.sh
  deploy/openshift/egress-demo/vsr-deployment.yaml
Due: shellcheck, yaml-and-yml-fmt

feat: RAG toggle, PII highlight, rate-limit test fix (#26)
  deploy/openshift/egress-demo/Dockerfile.demo-ui
  deploy/openshift/egress-demo/nb-demo.html
  deploy/openshift/egress-demo/smoke-test-nb.sh
  deploy/openshift/egress-demo/smoke-test.sh
Due: shellcheck

feat: Session stats, cost tracking, max tokens control, markdown rendering (#26)
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/nb-demo.html
Due: shellcheck

feat: Auto-index RAG docs on pod startup, fix backend labels (#26)
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/nb-demo.html
  deploy/openshift/egress-demo/vsr-deployment.yaml
Due: shellcheck, yaml-and-yml-fmt

feat: Server-side complexity routing, auto-index RAG, send model=auto (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/nb-demo.html
Due: yaml-and-yml-fmt

feat: Collapsible routing rules table in sidebar (#26)
  deploy/openshift/egress-demo/nb-demo.html
Due: none

feat: Real server-side PII detection, vSR headers debug panel (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/nb-demo.html
Due: yaml-and-yml-fmt

feat: Per-destination PII policy, server-side Component Log, preset tests (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/demo.html
  deploy/openshift/egress-demo/nb-demo.html
  deploy/openshift/egress-demo/smoke-test-nb.sh
Due: shellcheck, yaml-and-yml-fmt

fix: Remove client-side routing predictions, use server data only (#26)
  deploy/openshift/egress-demo/nb-demo.html
Due: none

fix: MaaS API token endpoint — add X-MaaS-Group header to AuthPolicy (#26)
  deploy/openshift/egress-demo/infra/auth-policy.yaml
Due: yaml-and-yml-fmt

test: Add MaaS API token generation tests (Group 8) (#26)
  deploy/openshift/egress-demo/smoke-test-nb.sh
Due: shellcheck

fix: Bump demo token TTL from 24h to 48h to match cluster lifetime (#26)
  deploy/openshift/egress-demo/deploy.sh
Due: shellcheck

fix: MaaS token audience mismatch + end-to-end token test (#26)
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/smoke-test-nb.sh
Due: shellcheck

feat: Token details panel + MaaS token audience fix + e2e test (#26)
  deploy/openshift/egress-demo/nb-demo.html
Due: none

feat: vSR config viewer panel — shows live routing YAML (#26)
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/nb-demo.html
Due: none

refactor: Move smoke tests to tests/ directory (#26)
  deploy/openshift/egress-demo/README.md
  deploy/openshift/egress-demo/tests/smoke-test-nb.sh
  deploy/openshift/egress-demo/tests/smoke-test.sh
Due: shellcheck, md-fmt

refactor: Remove dead client-side classifyMessage/resolveModel code (#26)
  deploy/openshift/egress-demo/nb-demo.html
Due: none

docs: MaaS controller integration gap analysis (#26)
  deploy/openshift/egress-demo/doc/maas-controller-integration-gap.md
Due: md-fmt

fix: Token TTL 10min→1h, auto-retry on 401 expired token (#26)
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/nb-demo.html
Due: none

fix: Pin container images to sha256 digests for reproducible deploys (#26)
  deploy/openshift/egress-demo/infra/maas-api.yaml
  deploy/openshift/egress-demo/infra/vllm-gpu.yaml
  deploy/openshift/egress-demo/vsr-deployment.yaml
Due: yaml-and-yml-fmt

docs: Add pinned image table to README (#26)
  deploy/openshift/egress-demo/README.md
Due: md-fmt

feat: Per-tier token rate limits, MaaS CRD compatibility (#26)
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/infra/auth-policy.yaml
  deploy/openshift/egress-demo/infra/maas-api.yaml
  deploy/openshift/egress-demo/infra/ratelimit-policy.yaml
  deploy/openshift/egress-demo/infra/token-ratelimit-policy.yaml
  deploy/openshift/egress-demo/nb-demo.html
Due: shellcheck, yaml-and-yml-fmt

fix: Pin maas-api to post-subscription-merge digest (#26)
  deploy/openshift/egress-demo/infra/maas-api.yaml
Due: yaml-and-yml-fmt

fix: Update MaaS CRD name maasmodels→maasmodelrefs after upstream rename (#26)
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/infra/maas-api.yaml
Due: shellcheck, yaml-and-yml-fmt

feat: Migrate from custom model_access_policy to upstream authz RBAC (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/infra/auth-policy.yaml
  deploy/openshift/egress-demo/tests/smoke-test-nb.sh
  deploy/openshift/egress-demo/tests/smoke-test.sh
  deploy/openshift/egress-demo/vsr-deployment.yaml
Due: shellcheck, yaml-and-yml-fmt

feat: Dual PII policy — block high-risk, route identity PII to internal (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
Due: yaml-and-yml-fmt

feat: Update demo presets for authz RBAC + dual PII policy (#26)
  deploy/openshift/egress-demo/nb-demo.html
Due: none

fix: Pin upstream vSR image to digest for reproducible deploys (#26)
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/vsr-deployment.yaml
Due: shellcheck, yaml-and-yml-fmt

Path conditions:
  go-fmt: any of: \.go$
  shellcheck: any of: \.sh$
  golang-lint: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-ts-lint: any of: \.(js|ts|tsx)$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
