Repository yossiovadia/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

shellcheck:
  name: shellcheck
  entry: make shellcheck
  language: system

golang-lint:
  name: go lint
  entry: make go-lint
  language: system
  pass_filenames: false

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-ts-lint:
  name: js/ts lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix: Embed MaaS CRD stubs in deploy.sh — no external URL deps (#26)
  deploy/openshift/egress-demo/deploy.sh
Due: shellcheck

fix: Use correct upstream CRD path, keep only maasmodels as stub (#26)
  deploy/openshift/egress-demo/deploy.sh
Due: shellcheck

fix: Update NB preset tests for fast_response PII blocking (#26)
  deploy/openshift/egress-demo/tests/smoke-test-nb.sh
Due: shellcheck

security: add VSR security audit findings and test suite
  config/testing/config.session-affinity-demo.yaml
  config/testing/envoy.session-affinity-demo.yaml
  docs/proposals/session-affinity-problem.md
  docs/security-audit/AUDIT-PLAN.md
  docs/security-audit/EXECUTIVE-SUMMARY.md
  docs/security-audit/FINDINGS.md
  src/semantic-router/pkg/selection/session_affinity_test.go
  tests/security/test_vsr_security.py
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

security: sanitize error responses to prevent infrastructure leakage (#1450)
  src/semantic-router/pkg/authz/chain.go
  src/semantic-router/pkg/extproc/processor_req_body.go
Due: go-fmt, golang-lint

security: require user identity for feedback API submissions (#1452)
  src/semantic-router/pkg/apiserver/route_feedback.go
  src/semantic-router/pkg/apiserver/route_feedback_test.go
Due: go-fmt, golang-lint

security: validate looper breadth_schedule and modelRefs limits (#1456)
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_test.go
Due: go-fmt, golang-lint

feat: add Conversational Routing Momentum (CRM) for multi-turn session affinity (#1458)
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/complexity_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/routing_momentum.go
  src/semantic-router/pkg/extproc/routing_momentum_test.go
  src/semantic-router/pkg/extproc/utils.go
Due: go-fmt, golang-lint

security: sanitize error responses to prevent infrastructure leakage (#1450)
  src/semantic-router/pkg/authz/chain.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
Due: go-fmt, golang-lint

feat(eval): add domain classifier benchmark with 994 test queries
  src/training/model_eval/benchmark_domain.py
  src/training/model_eval/data/benchmark_domain_queries.json
Due: none

fix: switch default domain classifier to mmBERT-32K merged model
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/config/registry_max_context_test.go
  src/semantic-router/pkg/config/registry_test.go
Due: go-fmt, golang-lint

Path conditions:
  go-fmt: any of: \.go$
  shellcheck: any of: \.sh$
  golang-lint: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-ts-lint: any of: \.(js|ts|tsx)$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
