Repository yossiovadia/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Basic hooks for Go, Rust, Python And JavaScript files only
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
        files: \.(go|rs|py|js)$
      - id: end-of-file-fixer
        files: \.(go|rs|py|js)$
      - id: check-added-large-files
        args: ["--maxkb=500"]
        files: \.(go|rs|py|js)$

  # Go specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: make shellcheck
        language: system
        files: \.sh$

  - repo: local
    hooks:
      - id: golang-lint
        name: go lint
        entry: make go-lint
        language: system
        files: \.go$
        pass_filenames: false

  # Markdown specific hooks
  - repo: local
    hooks:
      - id: md-fmt
        name: md fmt
        entry: bash -c "make markdown-lint"
        language: system
        files: \.md$
        exclude: ^(\node_modules/|CLAUDE\.md)

  # Yaml specific hooks
  - repo: local
    hooks:
      - id: yaml-and-yml-fmt
        name: yaml/yml fmt
        entry: bash -c "make markdown-lint"
        language: system
        files: \.(yaml|yml)$
        exclude: ^(\node_modules/)

  # JavaScript and TypeScript specific hooks
  - repo: local
    hooks:
      - id: js-ts-lint
        name: js/ts lint
        entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
        language: system
        files: \.(js|ts|tsx)$
        exclude: ^(\node_modules/)
        pass_filenames: false

  # Rust specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd candle-binding && cargo check'
        language: system
        files: \.rs$
        pass_filenames: false

  # Python specific hooks
  # Using only Black for Python formatting (simpler, no conflicts)
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        files: \.py$
        exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site-packages/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

fix(ffi): add fallback to PARALLEL_LORA_ENGINE for legacy classify_text_with_probabilities
  candle-binding/src/classifiers/lora/parallel_engine.rs
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
Due: cargo-fmt, cargo-check

fix(training): force FP32 precision for PII LoRA training to fix uniform confidence issue
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
Due: none

fix(training): force FP32 precision for PII LoRA training to fix uniform 0.9 confidence
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
Due: none

fix(test): update MockPIIInitializer signature to match interface
  src/semantic-router/pkg/classification/classifier_test.go
Due: go-fmt, golang-lint

fix(config): add default catch-all decision to enable PII detection for all requests
  config/testing/config.e2e.yaml
Due: yaml-and-yml-fmt

test(pii): add comprehensive PII detection test suite and update e2e config
  config/testing/config.e2e.yaml
  e2e-tests/06-a-test-pii-direct.py
  e2e-tests/pii-confidence-benchmark.py
Due: yaml-and-yml-fmt

fix(lint): apply black formatting and update test mock signature
  e2e-tests/06-a-test-pii-direct.py
  e2e-tests/pii-confidence-benchmark.py
Due: none

fix(pii): add fallback to ModernBERT for backward compatibility
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/extproc/extproc_test.go
Due: go-fmt, golang-lint

fix: wire UnifiedClassifier to ExtProc router for consistent LoRA-based classification
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/services/classification.go
Due: go-fmt, golang-lint

fix(classifier): resolve makeReasoningDecisionForCategory after PR #681 merge
  src/semantic-router/pkg/classification/classifier.go
Due: go-fmt, golang-lint

fix(pii): enable LoRA PII auto-detection with minimal changes
  src/semantic-router/pkg/classification/classifier.go
Due: go-fmt, golang-lint

fix(e2e): change PII test to use 'base-model' instead of 'MoM'
  e2e/testcases/pii_detection.go
Due: go-fmt, golang-lint

fix(e2e): comprehensive fix for PII detection E2E test failures (100% accuracy)
  deploy/helm/semantic-router/crds/vllm.ai_intelligentpools.yaml
  deploy/helm/semantic-router/crds/vllm.ai_intelligentroutes.yaml
  deploy/helm/semantic-router/values.yaml
  deploy/kubernetes/ai-gateway/semantic-router-values/values.yaml
  deploy/kubernetes/crds/vllm.ai_intelligentpools.yaml
  deploy/kubernetes/crds/vllm.ai_intelligentroutes.yaml
  e2e/profiles/dynamic-config/crds/intelligentpool.yaml
  e2e/profiles/dynamic-config/crds/intelligentroute.yaml
  e2e/profiles/dynamic-config/profile.go
  e2e/profiles/dynamic-config/values.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types.go
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/zz_generated.deepcopy.go
  src/semantic-router/pkg/k8s/reconciler.go
  src/semantic-router/pkg/utils/pii/policy.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

fix(e2e): enable profile-specific model configuration and LoRA PII for ai-gateway
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/dynamic-config/profile.go
  e2e/testcases/pii_detection.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

fix(e2e): enable LoRA PII detection for aibrix profile
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/profiles/aibrix/profile.go
  e2e/profiles/dynamic-config/crds/intelligentroute.yaml
Due: go-fmt, golang-lint, yaml-and-yml-fmt

fix(pii): enable LoRA PII auto-detection with minimal changes
  deploy/helm/semantic-router/values.yaml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/dynamic-config/values.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/extproc/extproc_test.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

perf(e2e): reduce test case count to optimize CI execution time
  e2e/testcases/testdata/domain_classify_cases.json
  e2e/testcases/testdata/jailbreak_detection_cases.json
  e2e/testcases/testdata/pii_detection_cases.json
Due: none

fix(training): resolve LoRA jailbreak NaN gradients with float32 and higher learning rate
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Due: none

feat(classifier): enable LoRA auto-detection for jailbreak classification
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  config/config.prompt_guard.vllm.yaml
  config/config.redis.yaml
  config/config.yaml
  config/intelligent-routing/in-tree/bert_classification.yaml
  config/intelligent-routing/in-tree/embedding.yaml
  config/intelligent-routing/in-tree/keyword.yaml
  config/observability/config.tracing.yaml
  config/prompt-guard/jailbreak_domain.yaml
  config/semantic-cache/config.hybrid.yaml
  config/testing/config.e2e.yaml
  config/testing/config.testing.yaml
Due: yaml-and-yml-fmt, cargo-fmt, cargo-check

fix: update jailbreak mapping format to match Go struct expectations
  candle-binding/src/ffi/classify.rs
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Due: cargo-fmt, cargo-check

docs: add domain-specific semantic caching design (POC)
  docs/domain-specific-cache-design.md
Due: md-fmt

docs: update POC domain from medical to coding (zombie process example)
  docs/domain-specific-cache-design.md
Due: md-fmt

Initial PR to support redis cache by namespace and model
  config/config.yaml
  config/testing/config.multi-domain-cache.yaml
  src/semantic-router/pkg/cache/benchmark.go
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_manager.go
  src/semantic-router/pkg/cache/cache_manager_test.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/router.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

feat(training): Add cache-specific embedding training pipeline foundation
  src/training/cache_embeddings/README.md
  src/training/cache_embeddings/__init__.py
  src/training/cache_embeddings/common_utils.py
  src/training/cache_embeddings/losses.py
Due: md-fmt

feat(training): Add dataset builder for coding domain
  datasets/cache_training/coding_test/real_data.jsonl
  datasets/cache_training/coding_test/real_data_test.jsonl
  datasets/cache_training/coding_test/real_data_train.jsonl
  datasets/cache_training/coding_test/real_data_val.jsonl
  src/training/cache_embeddings/dataset_builder.py
Due: none

feat: LLM-based cache embedding training pipeline
  data/cache_embeddings/medical/unlabeled_queries.jsonl
  src/training/cache_embeddings/README.md
  src/training/cache_embeddings/evaluate_model.py
  src/training/cache_embeddings/generate_training_data.py
  src/training/cache_embeddings/hard_negative_miner.py
  src/training/cache_embeddings/lora_trainer.py
Due: md-fmt

perf: add keep_alive=-1 to Ollama requests for faster inference
  src/training/cache_embeddings/generate_training_data.py
Due: none

feat: add domain-specific cache embedding training pipeline
  .gitignore
  src/training/cache_embeddings/README.md
  src/training/cache_embeddings/SIMPLE_TRAINING.md
  src/training/cache_embeddings/aws/README.md
  src/training/cache_embeddings/aws/cleanup-vllm-instance.yaml
  src/training/cache_embeddings/aws/deploy-vllm.sh
  src/training/cache_embeddings/aws/launch-vllm-instance.yaml
  src/training/cache_embeddings/dataset_builder.py
  src/training/cache_embeddings/docs/QUICK_START_AWS.md
  src/training/cache_embeddings/docs/README.md
  src/training/cache_embeddings/docs/README_DOCS.md
  src/training/cache_embeddings/docs/blog.md
  src/training/cache_embeddings/docs/index.html
  src/training/cache_embeddings/domains/README.md
  src/training/cache_embeddings/domains/TEMPLATE.yaml
  src/training/cache_embeddings/domains/medical.yaml
  src/training/cache_embeddings/evaluate_model.py
  src/training/cache_embeddings/generate_training_data.py
  src/training/cache_embeddings/hard_negative_miner.py
  src/training/cache_embeddings/lora_trainer.py
  src/training/cache_embeddings/test_lora_model.py
  src/training/cache_embeddings/train-domain.sh
Due: shellcheck, md-fmt, yaml-and-yml-fmt

feat: add medical domain case study for cache embedding training [WIP]
  src/training/cache_embeddings/docs/index.html
  src/training/cache_embeddings/generate_training_data.py
  src/training/cache_embeddings/train-domain.sh
Due: shellcheck

feat: add pre-trained medical LoRA cache embeddings model
  models/medical-cache-lora/README.md
  models/medical-cache-lora/adapter_config.json
  models/medical-cache-lora/adapter_model.safetensors
  models/medical-cache-lora/special_tokens_map.json
  models/medical-cache-lora/tokenizer.json
  models/medical-cache-lora/tokenizer_config.json
  models/medical-cache-lora/training_history.json
  models/medical-cache-lora/training_info.json
  models/medical-cache-lora/vocab.txt
  src/training/cache_embeddings/QUICKSTART_MEDICAL.md
  src/training/cache_embeddings/prepare_medical_data.py
Due: md-fmt

feat: add pre-trained programming LoRA cache embeddings model
  models/programming-cache-lora/README.md
  models/programming-cache-lora/adapter_config.json
  models/programming-cache-lora/adapter_model.safetensors
  models/programming-cache-lora/special_tokens_map.json
  models/programming-cache-lora/tokenizer.json
  models/programming-cache-lora/tokenizer_config.json
  models/programming-cache-lora/training_history.json
  models/programming-cache-lora/training_info.json
  models/programming-cache-lora/vocab.txt
  src/training/cache_embeddings/QUICKSTART_PROGRAMMING.md
  src/training/cache_embeddings/prepare_programming_data.py
Due: md-fmt

feat: add law domain cache embedding training setup
  src/training/cache_embeddings/ARCHITECTURE_DECISIONS.md
  src/training/cache_embeddings/DOMAIN_SELECTION.md
  src/training/cache_embeddings/LAW_TRAINING_WORKFLOW.md
  src/training/cache_embeddings/QUICK_START_LAW.md
  src/training/cache_embeddings/domains/law.yaml
  src/training/cache_embeddings/domains/prompts.yaml
  src/training/cache_embeddings/prepare_law_data.py
Due: md-fmt, yaml-and-yml-fmt

docs: add comprehensive cache embedding evaluation results
  CACHE_EMBEDDING_FINDINGS.md
  MARGIN_EVALUATION_RESULTS.md
  src/training/cache_embeddings/CRITICAL_LESSONS_LEARNED.md
  src/training/cache_embeddings/domains/prompts.yaml
  src/training/cache_embeddings/test_medical_model.py
Due: md-fmt, yaml-and-yml-fmt

feat: replace corrupted medical LoRA with verified law domain model
  models/law-cache-lora/README.md
  models/law-cache-lora/adapter_config.json
  models/law-cache-lora/adapter_model.safetensors
  models/law-cache-lora/evaluation_results.json
  models/law-cache-lora/margin_evaluation.json
  models/law-cache-lora/special_tokens_map.json
  models/law-cache-lora/tokenizer.json
  models/law-cache-lora/tokenizer_config.json
  models/law-cache-lora/training_history.json
  models/law-cache-lora/training_info.json
  models/law-cache-lora/vocab.txt
  models/medical-cache-lora/adapter_model.safetensors
  models/medical-cache-lora/training_history.json
Due: md-fmt
