Repository yossiovadia/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Basic hooks for Go, Rust, Python And JavaScript files only
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
        files: \.(go|rs|py|js)$
      - id: end-of-file-fixer
        files: \.(go|rs|py|js)$
      - id: check-added-large-files
        args: ["--maxkb=500"]
        files: \.(go|rs|py|js)$

  # Go specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: make shellcheck
        language: system
        files: \.sh$

  - repo: local
    hooks:
      - id: golang-lint
        name: go lint
        entry: make go-lint
        language: system
        files: \.go$
        pass_filenames: false

  # Markdown specific hooks
  - repo: local
    hooks:
      - id: md-fmt
        name: md fmt
        entry: bash -c "make markdown-lint"
        language: system
        files: \.md$
        exclude: ^(\node_modules/|CLAUDE\.md)

  # Yaml specific hooks
  - repo: local
    hooks:
      - id: yaml-and-yml-fmt
        name: yaml/yml fmt
        entry: bash -c "make markdown-lint"
        language: system
        files: \.(yaml|yml)$
        exclude: ^(\node_modules/)

  # JavaScript and TypeScript specific hooks
  - repo: local
    hooks:
      - id: js-ts-lint
        name: js/ts lint
        entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
        language: system
        files: \.(js|ts|tsx)$
        exclude: ^(\node_modules/)
        pass_filenames: false

  # Rust specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd candle-binding && cargo check'
        language: system
        files: \.rs$
        pass_filenames: false

  # Python specific hooks
  # Using only Black for Python formatting (simpler, no conflicts)
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        files: \.py$
        exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site-packages/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

docs: add RouterArena SOTA achievement to latest news (#1239)
  README.md
  dashboard/frontend/src/components/ReplayCharts.tsx
Due: md-fmt, js-ts-lint

feat: add hallucination detection model training (#1242)
  src/training/training_lora/hallucination_detection_classifier/README.md
  src/training/training_lora/hallucination_detection_classifier/finetune.py
  src/training/training_lora/hallucination_detection_classifier/prepare_data.py
  src/training/training_lora/hallucination_detection_classifier/requirements.txt
  src/training/training_lora/hallucination_detection_classifier/run_training.sh
Due: shellcheck, md-fmt

feat(training): integrate LM-Cocktail for domain adaptation
  src/training/domain_adapted_embeddings/apply_cocktail.py
  src/training/domain_adapted_embeddings/train.py
Due: none

feat: add MultipleNegativesRankingLoss support
  src/training/domain_adapted_embeddings/train.py
Due: none

feat(tests): add OpenAI API validation test suite (#1215)
  docs/RAG_OPENAI_GUIDE.md
  e2e/testing/09-openai-api-validation-test.py
  e2e/testing/README.md
  src/semantic-router/pkg/openai/openai_validation_e2e_test.go
Due: go-fmt, golang-lint, md-fmt
