Repository yossiovadia/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

shellcheck:
  name: shellcheck
  entry: make shellcheck
  language: system

golang-lint:
  name: go lint
  entry: make go-lint
  language: system
  pass_filenames: false

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-ts-lint:
  name: js/ts lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

feat: add Conversational Routing Momentum (CRM) for multi-turn session affinity (#1458)
  config/testing/config.crm-demo.yaml
  config/testing/router-runtime.json
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/model_config_types.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/extproc/routing_momentum.go
  src/semantic-router/pkg/extproc/routing_momentum_test.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

security: skip cache for responses with personalized context
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming_test.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_cache_personalized_test.go
Due: go-fmt, golang-lint

feat(crm): tune attack/release defaults for real dev workflows
  src/semantic-router/pkg/config/model_config_types.go
  src/semantic-router/pkg/extproc/routing_momentum_test.go
Due: go-fmt, golang-lint

fix: gofmt alignment in test struct literal
  src/semantic-router/pkg/extproc/req_filter_cache_personalized_test.go
Due: go-fmt, golang-lint

refactor: extract lookupCache to keep handleCaching under 100 lines
  src/semantic-router/pkg/extproc/req_filter_cache.go
Due: go-fmt, golang-lint

fix: Add missing *=> prefix to Redis KNN vector search query
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/cache/redis_knn_query_test.go
Due: go-fmt, golang-lint

feat: Semantic cache with HIT/MISS display in demo UI (#26)
  deploy/openshift/egress-demo/Dockerfile.demo-ui
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/infra/redis.yaml
  deploy/openshift/egress-demo/nb-demo.html
Due: shellcheck, yaml-and-yml-fmt

feat: Redis semantic cache with patched vSR image (#26)
  deploy/openshift/egress-demo/Dockerfile.vsr-patched
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  src/semantic-router/pkg/cache/redis_cache.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

feat: Cache admin panel — view entries, delete, clear all (#26)
  deploy/openshift/egress-demo/admin.html
  deploy/openshift/egress-demo/demo-server.py
Due: none

feat: Collapsible cache inspector in nb-demo routing panel (#26)
  deploy/openshift/egress-demo/nb-demo.html
Due: none

refactor: Make nb-demo.html the sole UI, served at / (#26)
  deploy/openshift/egress-demo/Dockerfile.demo-ui
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/nb-demo.html
Due: shellcheck

fix: Higher cache threshold for easy queries to prevent false hits (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
Due: yaml-and-yml-fmt

feat: Add x-vsr-cache-similarity response header (#26)
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/utils/http/response.go
Due: go-fmt, golang-lint

feat: Show cache similarity score in HIT/MISS display (#26)
  deploy/openshift/egress-demo/Dockerfile.vsr-patched
  deploy/openshift/egress-demo/nb-demo.html
  deploy/openshift/egress-demo/vsr-deployment.yaml
Due: yaml-and-yml-fmt

fix: deploy.sh handles HF token, patched image build, Redis (#26)
  deploy/openshift/egress-demo/deploy.sh
Due: shellcheck

feat: Replace mock-anthropic with external llm-katan emulator (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/envoy-egress-openshift.yaml
  deploy/openshift/egress-demo/infra/external-providers.yaml
Due: yaml-and-yml-fmt

fix: Add PII signal evaluation to decision engine
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/decision/engine.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

fix: Remove PII plugin from pii_internal — route, don't block
  deploy/openshift/egress-demo/config-egress-openshift.yaml
Due: yaml-and-yml-fmt

feat: Add authz signal evaluation for tier-based routing
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
Due: go-fmt, golang-lint

Path conditions:
  go-fmt: any of: \.go$
  shellcheck: any of: \.sh$
  golang-lint: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-ts-lint: any of: \.(js|ts|tsx)$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
