Repository yossiovadia/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Basic hooks for Go, Rust, Python And JavaScript files only
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
        files: \.(go|rs|py|js)$
      - id: end-of-file-fixer
        files: \.(go|rs|py|js)$
      - id: check-added-large-files
        args: ["--maxkb=500"]
        files: \.(go|rs|py|js)$

  # Go specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: make shellcheck
        language: system
        files: \.sh$

  - repo: local
    hooks:
      - id: golang-lint
        name: go lint
        entry: make go-lint
        language: system
        files: \.go$
        pass_filenames: false

  # Markdown specific hooks
  - repo: local
    hooks:
      - id: md-fmt
        name: md fmt
        entry: bash -c "make markdown-lint"
        language: system
        files: \.md$
        exclude: ^(\node_modules/|CLAUDE\.md)

  # Yaml specific hooks
  - repo: local
    hooks:
      - id: yaml-and-yml-fmt
        name: yaml/yml fmt
        entry: bash -c "make markdown-lint"
        language: system
        files: \.(yaml|yml)$
        exclude: ^(\node_modules/)

  # JavaScript and TypeScript specific hooks
  - repo: local
    hooks:
      - id: js-ts-lint
        name: js/ts lint
        entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
        language: system
        files: \.(js|ts|tsx)$
        exclude: ^(\node_modules/)
        pass_filenames: false

  # Rust specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd candle-binding && cargo check'
        language: system
        files: \.rs$
        pass_filenames: false

  # Python specific hooks
  # Using only Black for Python formatting (simpler, no conflicts)
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        files: \.py$
        exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site-packages/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

feat(openshift): update dashboard build for PR #477 compatibility
  deploy/openshift/dashboard/README.md
  deploy/openshift/dashboard/build-custom-dashboard.sh
Due: shellcheck, md-fmt

feat(openshift): add HuggingChat (ChatUI) support to dashboard deployment
  deploy/openshift/dashboard/README.md
  deploy/openshift/dashboard/dashboard-deployment.yaml
Due: md-fmt, yaml-and-yml-fmt

feat(dashboard): configure HuggingChat with 128 max_tokens by default
  deploy/openshift/dashboard/README.md
  deploy/openshift/dashboard/dashboard-deployment.yaml
Due: md-fmt, yaml-and-yml-fmt

fix: apply markdown linting fixes for README
  deploy/openshift/dashboard/README.md
Due: md-fmt

docs: add complete steps for changing HuggingChat token limits
  deploy/openshift/dashboard/README.md
Due: md-fmt

feat(demo): enhance semantic cache demo with semantically similar prompts
  deploy/openshift/demo/demo-semantic-router.py
Due: none

test(e2e): expand classification coverage and fix cache test issues
  e2e-tests/03-classification-api-test.py
  e2e-tests/04-cache-test.py
Due: none

fix: resolve LoRA intent classification training bug (double-split data corruption)
  lora-training-investigation.md
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
Due: md-fmt

fix: add label2id and id2label mappings to LoRA model creation
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
Due: none

fix: add modules_to_save=["classifier"] to LoRA config - THE REAL FIX
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
Due: none

fix: manually unfreeze classifier parameters after LoRA application
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
Due: none

fix: force FP32 precision for LoRA training to prevent NaN gradients
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
Due: none

fix: force FP32 precision in LoRA training to prevent NaN gradients
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
Due: none

fix: correct dtype parameter in merge_lora_adapter function
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
Due: none

fix: load LoRA classifier head from adapter_model.safetensors
  candle-binding/src/core/config_loader.rs
  candle-binding/src/model_architectures/lora/bert_lora.rs
Due: cargo-fmt, cargo-check

fix: correctly parse label_mapping.json structure with idx_to_category field
  candle-binding/src/core/config_loader.rs
Due: cargo-fmt, cargo-check

fix: hardcode MMLU-Pro 14-category labels as fallback
  candle-binding/src/core/config_loader.rs
Due: cargo-fmt, cargo-check

fix: correct yaml linting hook to call yaml-lint instead of markdown-lint
  .pre-commit-config.yaml
Due: yaml-and-yml-fmt

fix: correct yaml linting hook and fix trailing spaces/comment spacing
  .pre-commit-config.yaml
  config/config.yaml
  config/intelligent-routing/in-tree/bert_classification.yaml
  config/intelligent-routing/in-tree/keyword.yaml
  config/intelligent-routing/out-tree/config-mcp-classifier.yaml
  config/observability/config.tracing.yaml
  config/prompt-guard/pii_domain.yaml
  config/semantic-cache/config.hybrid.yaml
  deploy/docker-compose/docker-compose.yml
  deploy/kubernetes/ai-gateway/semantic-router/config.yaml
  deploy/kubernetes/ai-gateway/semantic-router/deployment.yaml
  deploy/kubernetes/aibrix/aigw-resources/base-model.yaml
  deploy/kubernetes/aibrix/semantic-router/config.yaml
  deploy/kubernetes/aibrix/semantic-router/deployment.yaml
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/deployment.yaml
  deploy/kubernetes/istio/kustomization.yaml
  deploy/kubernetes/istio/vLlama3.yaml
  deploy/kubernetes/istio/vPhi4.yaml
  deploy/kubernetes/observability/dashboard/config.yaml
  examples/semanticroute/comprehensive-example.yaml
  examples/semanticroute/multiple-routes.yaml
  tools/linter/go/.golangci.yml
Due: yaml-and-yml-fmt

fix: resolve YAML indentation errors and exclude .venv from linting
  deploy/kubernetes/ai-gateway/aigw-resources/base-model.yaml
  deploy/kubernetes/ai-gateway/aigw-resources/gwapi-resources.yaml
  deploy/kubernetes/aibrix/aigw-resources/gwapi-resources.yaml
  deploy/kubernetes/istio/destinationrule.yaml
  deploy/kubernetes/istio/envoyfilter.yaml
  deploy/kubernetes/istio/httproute-llama3-8b.yaml
  deploy/kubernetes/istio/httproute-phi4-mini.yaml
  deploy/kubernetes/istio/kustomization.yaml
  deploy/kubernetes/llmd-base/dest-rule-epp-llama.yaml
  deploy/kubernetes/llmd-base/dest-rule-epp-phi4.yaml
  deploy/kubernetes/llmd-base/httproute-llama-pool.yaml
  deploy/kubernetes/llmd-base/httproute-phi4-pool.yaml
  deploy/kubernetes/llmd-base/inferencepool-llama.yaml
  deploy/kubernetes/llmd-base/inferencepool-phi4.yaml
  deploy/openshift/observability/prometheus/deployment.yaml
  deploy/openshift/template.yaml
  tools/linter/yaml/.yamllint
Due: yaml-and-yml-fmt

test: use LoRA intent classifiers in E2E tests and improve test queries
  config/testing/config.e2e.yaml
  e2e-tests/03-classification-api-test.py
Due: yaml-and-yml-fmt

test: add router path selection E2E tests
  e2e-tests/07-router-path-selection-test.py
Due: none

test: clarify 07-router-path-selection focuses on classifier API
  e2e-tests/07-router-path-selection-test.py
Due: none

fix: wire UnifiedClassifier to ExtProc router for consistent LoRA-based classification
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/services/classification.go
Due: go-fmt, golang-lint

fix(pii): enable LoRA PII auto-detection with minimal changes
  src/semantic-router/pkg/classification/classifier.go
Due: go-fmt, golang-lint

test(pii): add comprehensive PII detection test suite and update e2e config
  config/testing/config.e2e.yaml
  e2e-tests/06-a-test-pii-direct.py
  e2e-tests/pii-confidence-benchmark.py
Due: yaml-and-yml-fmt

fix(test): update MockPIIInitializer signature to match interface
  src/semantic-router/pkg/classification/classifier_test.go
Due: go-fmt, golang-lint

fix(lint): apply black formatting and update test mock signature
  e2e-tests/06-a-test-pii-direct.py
  e2e-tests/pii-confidence-benchmark.py
Due: none

fix(pii): add fallback to ModernBERT for backward compatibility
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/extproc/extproc_test.go
Due: go-fmt, golang-lint

fix(training): apply FP32 fix to PII and jailbreak LoRA training scripts
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Due: none

fix(training): add pii_type_mapping.json generation to PII training script
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
Due: none

fix(training): merge PII LoRA model in-place for HuggingFace compatibility
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
Due: none

fix(training): apply FP32 fix to PII LoRA training script
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
Due: none

fix(training): merge LoRA adapter with base model for Candle/Rust compatibility
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
Due: none

fix(training): skip file copy when source and destination are same
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
Due: none

fix(training): handle in-place merge with temp directory
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
Due: none

feat(training): auto-move trained model to models/ directory with .downloaded marker
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
Due: none

fix(candle): fix matrix transpose bug in LoRA BERT token classifier
  candle-binding/src/model_architectures/lora/bert_lora.rs
Due: cargo-fmt, cargo-check

fix(candle): fix matrix transpose bugs in ALL BERT classifiers
  candle-binding/src/model_architectures/traditional/bert.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
Due: cargo-fmt, cargo-check

fix(ffi): initialize legacy BERT_CLASSIFIER in unified mode for backward compatibility
  candle-binding/src/ffi/init.rs
Due: cargo-fmt, cargo-check
