Repository yossiovadia/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

shellcheck:
  name: shellcheck
  entry: make shellcheck
  language: system

golang-lint:
  name: go lint
  entry: make go-lint
  language: system
  pass_filenames: false

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-ts-lint:
  name: js/ts lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

test(vectorstore): add integration tests and E2E test skeleton
  e2e/testcases/rag_vectorstore.go
  src/semantic-router/pkg/vectorstore/integration_test.go
Due: go-fmt, golang-lint

feat(vectorstore): add config, CandleEmbedder, and startup wiring
  config/config-rag-example.yaml
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/vectorstore.go
  src/semantic-router/pkg/vectorstore/candle_embedder.go
  src/semantic-router/pkg/vectorstore/config_test.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

feat(vectorstore): add core types, backends, and text processing
  src/semantic-router/go.mod
  src/semantic-router/pkg/vectorstore/chunking.go
  src/semantic-router/pkg/vectorstore/chunking_test.go
  src/semantic-router/pkg/vectorstore/factory.go
  src/semantic-router/pkg/vectorstore/filestore.go
  src/semantic-router/pkg/vectorstore/filestore_test.go
  src/semantic-router/pkg/vectorstore/memory_backend.go
  src/semantic-router/pkg/vectorstore/memory_backend_test.go
  src/semantic-router/pkg/vectorstore/milvus_backend.go
  src/semantic-router/pkg/vectorstore/milvus_backend_test.go
  src/semantic-router/pkg/vectorstore/parser.go
  src/semantic-router/pkg/vectorstore/parser_test.go
  src/semantic-router/pkg/vectorstore/service.go
  src/semantic-router/pkg/vectorstore/types.go
  src/semantic-router/pkg/vectorstore/types_test.go
Due: go-fmt, golang-lint

feat(vectorstore): add async ingestion pipeline and RAG integration
  src/semantic-router/pkg/config/rag_plugin.go
  src/semantic-router/pkg/extproc/req_filter_rag.go
  src/semantic-router/pkg/extproc/req_filter_rag_vectorstore.go
  src/semantic-router/pkg/vectorstore/pipeline.go
  src/semantic-router/pkg/vectorstore/pipeline_test.go
Due: go-fmt, golang-lint

feat(vectorstore): add REST API for vector stores and file management
  src/semantic-router/pkg/apiserver/route_files.go
  src/semantic-router/pkg/apiserver/route_vectorstore.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/vectorstore/manager.go
  src/semantic-router/pkg/vectorstore/manager_test.go
Due: go-fmt, golang-lint

[Feat] Egress routing demo: multi-provider routing, API translation, tier-based access (#26)
  config/demo/config.egress-demo.yaml
  config/demo/envoy.egress-demo.yaml
  e2e/testing/demo/mock-server.py
  e2e/testing/demo/run-egress-demo.sh
  e2e/testing/demo/run-scenarios.sh
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  tools/make/build-run-test.mk
Due: go-fmt, shellcheck, golang-lint, yaml-and-yml-fmt

[Feat] Add interactive demo web UI and OpenShift deployment for egress demo (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/demo-ui.yaml
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/envoy-egress-openshift.yaml
  deploy/openshift/egress-demo/llm-katan-echo.yaml
  deploy/openshift/egress-demo/llm-katan-real.yaml
  deploy/openshift/egress-demo/mock-anthropic.yaml
  deploy/openshift/egress-demo/vsr-deployment.yaml
  e2e/testing/demo/demo-server.py
  e2e/testing/demo/demo.html
Due: shellcheck, yaml-and-yml-fmt

fix: OpenShift deployment fixes — all pods running (#26)
  deploy/openshift/egress-demo/Dockerfile.demo-ui
  deploy/openshift/egress-demo/Dockerfile.mock-anthropic
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/demo-ui.yaml
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/llm-katan-echo.yaml
  deploy/openshift/egress-demo/mock-anthropic.yaml
  deploy/openshift/egress-demo/vsr-deployment.yaml
  e2e/testing/demo/demo-server.py
  e2e/testing/demo/mock-server.py
Due: shellcheck, yaml-and-yml-fmt

fix: OpenShift deployment with custom image + tier access + README (#26)
  deploy/openshift/egress-demo/README.md
  deploy/openshift/egress-demo/envoy-egress-openshift.yaml
  deploy/openshift/egress-demo/vsr-deployment.yaml
  e2e/testing/demo/demo.html
Due: md-fmt, yaml-and-yml-fmt

fix: Routing and classification on OpenShift (#26)
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/envoy-egress-openshift.yaml
Due: yaml-and-yml-fmt

feat: Add smoke test with TDD-style phase markers (#26)
  deploy/openshift/egress-demo/smoke-test.sh
Due: shellcheck

fix: Create demo-ui route with edge TLS in deploy script (#26)
  deploy/openshift/egress-demo/deploy.sh
Due: shellcheck

feat: Auto-detect gateway URL in smoke test via oc get route (#26)
  deploy/openshift/egress-demo/smoke-test.sh
Due: shellcheck

fix: Remove classification scenario from demo UI (not available on cluster) (#26)
  e2e/testing/demo/demo.html
Due: none

refactor: Trim demo UI to 4 non-redundant scenarios (#26)
  e2e/testing/demo/demo.html
Due: none

refactor: Consolidate all egress demo files under deploy/openshift/egress-demo/ (#26)
  deploy/openshift/egress-demo/config-egress-local.yaml
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/demo.html
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/envoy-egress-local.yaml
  deploy/openshift/egress-demo/mock-server.py
  deploy/openshift/egress-demo/run-egress-demo.sh
  deploy/openshift/egress-demo/run-scenarios.sh
  tools/make/build-run-test.mk
Due: shellcheck, yaml-and-yml-fmt

feat: Add neon pulse effect on backend box when request reaches it (#26)
  deploy/openshift/egress-demo/demo.html
Due: none

feat: Add red neon pulse on vSR box when request is blocked (#26)
  deploy/openshift/egress-demo/demo.html
Due: none

feat: Show timing (ms) between architecture boxes and in response badge (#26)
  deploy/openshift/egress-demo/demo.html
Due: none

fix: Show actual total round-trip time, not estimated per-hop (#26)
  deploy/openshift/egress-demo/demo.html
Due: none

feat: Add OpenAI pass-through scenario to contrast with Anthropic translation (#26)
  deploy/openshift/egress-demo/demo.html
Due: none

feat: Add Premium → Anthropic scenario showing tier + translation together (#26)
  deploy/openshift/egress-demo/demo.html
Due: none

[Feat] Phase B: BBR plugin implementing GIE BBRPlugin interface (#26)
  examples/bbr-plugin/cmd/demo/main.go
  examples/bbr-plugin/go.mod
  examples/bbr-plugin/go.sum
  examples/bbr-plugin/pkg/classifier/interfaces.go
  examples/bbr-plugin/pkg/classifier/mock.go
  examples/bbr-plugin/pkg/plugin/semantic_router_plugin.go
Due: go-fmt, golang-lint

[Feat] Phase B2: BBR ExtProc server with vSR plugin + OpenShift deployment (#26)
  deploy/openshift/egress-demo/bbr-deployment.yaml
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/envoy-bbr-openshift.yaml
  examples/bbr-plugin/Dockerfile
  examples/bbr-plugin/cmd/server/main.go
  examples/bbr-plugin/go.mod
  examples/bbr-plugin/go.sum
Due: go-fmt, shellcheck, golang-lint, yaml-and-yml-fmt

fix: BBR plugin Anthropic routing + Envoy header matching (#26)
  deploy/openshift/egress-demo/envoy-bbr-openshift.yaml
  examples/bbr-plugin/pkg/plugin/semantic_router_plugin.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

[Feat] Phase B2: Add BBR tab to demo UI with side-by-side comparison (#26)
  deploy/openshift/egress-demo/Dockerfile.demo-ui
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/demo.html
Due: none

chore: add STATUS.md to gitignore
  .gitignore
Due: none

fix: Neutral branding — remove 'vLLM Semantic Router' from demo title (#26)
  deploy/openshift/egress-demo/demo.html
Due: none

feat: Tab reset on switch + colored pulse for ExtProc (blue) and BBR (purple) (#26)
  deploy/openshift/egress-demo/demo.html
Due: none

[Feat] Phase C: Real auth with Kuadrant/Authorino + MaaS API + egress simulation (#26)
  deploy/openshift/egress-demo/Dockerfile.demo-ui
  deploy/openshift/egress-demo/config-egress-openshift.yaml
  deploy/openshift/egress-demo/demo-server.py
  deploy/openshift/egress-demo/demo-ui.yaml
  deploy/openshift/egress-demo/demo.html
  deploy/openshift/egress-demo/deploy.sh
  deploy/openshift/egress-demo/envoy-egress-openshift.yaml
  deploy/openshift/egress-demo/phase-c/auth-policy.yaml
  deploy/openshift/egress-demo/phase-c/demo-users.yaml
  deploy/openshift/egress-demo/phase-c/external-providers.yaml
  deploy/openshift/egress-demo/phase-c/gateway.yaml
  deploy/openshift/egress-demo/phase-c/gatewayclass.yaml
  deploy/openshift/egress-demo/phase-c/httproute.yaml
  deploy/openshift/egress-demo/phase-c/kuadrant-cr.yaml
  deploy/openshift/egress-demo/phase-c/kuadrant-install.yaml
  deploy/openshift/egress-demo/phase-c/maas-api.yaml
  deploy/openshift/egress-demo/phase-c/serviceentry-reference.yaml
  deploy/openshift/egress-demo/smoke-test.sh
Due: shellcheck, yaml-and-yml-fmt

feat: Clickable arch boxes highlight related trace steps (#26)
  deploy/openshift/egress-demo/demo.html
Due: none

docs: Add Phase C deployment architecture diagram (#26)
  deploy/openshift/egress-demo/phase-c-deployment.md
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  shellcheck: any of: \.sh$
  golang-lint: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-ts-lint: any of: \.(js|ts|tsx)$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
